/* Backgrounds */
body{
    color: rgb(253, 252, 252);
    font-style: italic;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
body{
    text-align: center;
    width: 100%;
}
footer{
    color: white;
}