/* Backgrounds */
body{
    color: rgb(253, 252, 252);
    font-style: italic;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width: 100%;
}

.navbar{
    justify-content: center;
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    margin: 0 10px;
    font-weight: bold;
}

.navbar ,.zipcode{
    padding: 15px;
}

.display-4{
    margin: 0 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 50px;
}

.date{
    margin: 30px 10px;
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.weather{
    margin: 30px 10px;
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-size: xx-large;
}

.header{
    margin: 30px 10px;
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-size: x-large;
    margin-bottom: 100px;
}

#htmldiv {
    margin: 30px 10px;
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-size: x-large;
    font-weight: bold;
}

footer{
    width: 100%;
    margin:0 auto;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

.navbar,.display-4,.date,.weather,.header,footer{
    font-family: 'Abel', sans-serif;
}

#sticky{
    font-weight:bold;
    text-align:center;
    position:fixed;
    bottom:0; 
}

